.btn-xs
    +button-size(.15rem, .25rem, $font-size-xs, 1.1em, .1rem)

.btn
    &.float-right
        margin-left: .2rem

.btn-show-on-tr-hover
    display: none

.btn-none
    &:focus
        box-shadow: none

tr:hover
    .btn-show-on-tr-hover
        display: inline-block
