.badge
  display: inline-block
  padding: .35em .65em
  font-family: $font-base
  font-size: $font-size-xs
  letter-spacing: 0
  color: $color-text
  font-weight: 600
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: .25rem
  box-shadow: 0 0 2px $color-secondary-dimmed

.badge-primary
  background-color: $color-primary
  color: $white
  a
    color: $white

.badge-secondary
  background-color: $color-secondary
  color: $black
  a
    color: $black

.badge-info
  background-color: $color-info
  color: $white
  a
    color: $white

.badge-light
  background-color: $color-light
  color: $color-text-lighter
  a
    color: $color-text-lighter

.badge-success
  background-color: $color-success
  color: $white-almost
  a
    color: $white-almost

.badge-warning
  background-color: $color-warning
  color: $black
  a
    color: $black

.badge-danger
  background-color: $color-danger
  color: $white
  a
    color: $white

.badge-dark
  background-color: $color-dark
  color: $white-almost
  a
    color: $white-almost

.rounded-pill
  border-radius: 50rem !important
