@use "sass:color"

.btn
  display: inline-block
  font-weight: 600
  line-height: 1.5
  text-align: center
  text-decoration: none
  vertical-align: middle
  user-select: none
  padding: .375rem .75rem
  font-size: .9375rem
  font-family: $font-base
  background-color: transparent
  border: 1px solid transparent
  border-radius: .25rem
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, 0.1)

a.btn
  text-decoration: none!important

.btn:not(.btn-link)
  &:active
    transform: perspective(5cm) rotateX(1deg) rotateY(5deg)
  &:hover
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .3), 0 1px 2px -1px rgba(0, 0, 0, 0.3)

.btn-link, .btn-outline-link
  box-shadow: none

.btn-primary
  color: $white-almost
  background-color: $color-primary
  border-color: $color-primary

.btn-secondary
  color: $color-text-lighter
  background-color: $white-almost
  border-color: $color-border

.btn-info
  color: $white-almost
  background-color: $color-info
  border-color: $color-info

.btn-success
  color: $white-almost
  background-color: $color-success
  border-color: $color-success

.btn-warning
  color: $color-dark
  background-color: $color-warning
  border-color: $color-warning

.btn-danger
  color: $white-almost
  background-color: $color-danger
  border-color: $color-danger

.btn-dark
  color: $color-light
  background-color: $color-dark
  border-color: $color-dark

.btn-light
  color: $color-dark
  background-color: $color-light
  border-color: $color-light

.btn-outline-primary
  color: $color-dark
  border-color: $color-dark

.btn-outline-secondary
  color: $color-secondary-text
  border-color: $color-secondary-text

.btn-outline-info
  color: $color-info
  border-color: $color-info

.btn-outline-success
  color: $color-success
  border-color: $color-success

.btn-outline-warning
  color: $color-warning
  border-color: $color-warning

.btn-outline-danger
  color: $color-danger
  border-color: $color-danger

.btn-outline-light
  color: $color-light-text
  border-color: $color-light-text

.btn-outline-dark
  color: $color-dark
  border-color: $color-dark

.btn-lg
  padding: .625rem 1rem
  font-size: 1.0625rem
  border-radius: .2rem

.btn-sm
  padding: .25rem .5rem
  font-size: .875rem
  border-radius: .2rem

.btn-xs
  line-height: 1
  padding: .4rem .4rem .35rem
  font-size: $font-size-xxs
  border-radius: .2rem

.btn-close
  border: none
  cursor: pointer
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23656c78'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat
