// stylelint-disable function-disallowed-list

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

$modal-inner-padding: $spacer !default

$modal-footer-margin-between: .5rem !default

$modal-dialog-margin: .5rem !default
$modal-dialog-margin-y-sm-up: 1.75rem !default

$modal-title-line-height: 1

$box-shadow: 0 .5rem 1rem rgba($black, .15) !default
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default
$box-shadow-inset: inset 0 1px 2px rgba($black, .075) !default

$modal-content-color: $color-text
$modal-content-bg: $white
$modal-content-border-color: $color-border
$modal-content-border-width: 1px
$modal-content-border-radius: $generic-border-radius
$modal-content-inner-border-radius: calc($modal-content-border-radius - $modal-content-border-width)
$modal-content-box-shadow-xs: $box-shadow-sm
$modal-content-box-shadow-sm-up: $box-shadow

$modal-backdrop-bg: $black !default
$modal-backdrop-opacity: .5 !default

$modal-header-border-color: $color-border
$modal-header-border-width: 1px
$modal-header-padding-y: $modal-inner-padding
$modal-header-padding-x: $modal-inner-padding
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default

$modal-footer-bg: null !default
$modal-footer-border-color: $modal-header-border-color !default
$modal-footer-border-width: $modal-header-border-width !default

$modal-sm: 300px !default
$modal-md: 500px !default
$modal-lg: 800px !default
$modal-xl: 1140px !default

$modal-fade-transform: translate(0, -50px) !default
$modal-show-transform: none !default
$modal-transition: transform .3s ease-out !default
$modal-scale-transform: scale(1.02) !default

// Container that the modal scrolls within
.modal
  // scss-docs-start modal-css-vars
  --modal-zindex: 1055
  --modal-width: #{$modal-md}
  --modal-padding: #{$modal-inner-padding}
  --modal-margin: #{$modal-dialog-margin}
  --modal-color: #{$modal-content-color}
  --modal-bg: #{$modal-content-bg}
  --modal-border-color: #{$modal-content-border-color}
  --modal-border-width: #{$modal-content-border-width}
  --modal-border-radius: #{$modal-content-border-radius}
  --modal-box-shadow: #{$modal-content-box-shadow-xs}
  --modal-inner-border-radius: #{$modal-content-inner-border-radius}
  --modal-header-padding-x: #{$modal-header-padding-x}
  --modal-header-padding-y: #{$modal-header-padding-y}
  --modal-header-padding: #{$modal-header-padding}
  // Todo in v6: Split this padding into x and y
  --modal-header-border-color: #{$modal-header-border-color}
  --modal-header-border-width: #{$modal-header-border-width}
  --modal-title-line-height: #{$modal-title-line-height}
  --modal-footer-gap: #{$modal-footer-margin-between}
  --modal-footer-bg: #{$modal-footer-bg}
  --modal-footer-border-color: #{$modal-footer-border-color}
  --modal-footer-border-width: #{$modal-footer-border-width}
  // scss-docs-end modal-css-vars

  position: fixed
  top: 0
  left: 0
  z-index: var(--modal-zindex)
  display: none
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0
// We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
// gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
// See also https://github.com/twbs/bootstrap/issues/17695

// Shell div to position the modal with bottom padding
.modal-dialog
  position: relative
  width: auto
  margin: var(--modal-margin)
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none

  // When fading in the modal, animate it to slide down
  .modal.fade &
    transform: $modal-fade-transform
    +transition($modal-transition)

  .modal.show &
    transform: $modal-show-transform

  // When trying to close, animate focus to scale
  .modal.modal-static &
    transform: $modal-scale-transform


.modal-dialog-scrollable
  height: calc(100% - var(--modal-margin) * 2)

  .modal-content
    max-height: 100%
    overflow: hidden

  .modal-body
    overflow-y: auto


.modal-dialog-centered
  display: flex
  align-items: center
  min-height: calc(100% - var(--modal-margin) * 2)

// Actual modal
.modal-content
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  color: var(--modal-color)
  pointer-events: auto
  background-color: var(--modal-bg)
  background-clip: padding-box
  border: var(--modal-border-width) solid var(--modal-border-color)
  border-radius: var(--modal-border-radius)
  box-shadow:  var(--modal-box-shadow)
  // Remove focus outline from opened modal
  outline: 0

// Modal background
.modal-backdrop
  +overlay-backdrop(1050, $black, .5)

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header
  display: flex
  flex-shrink: 0
  align-items: center
  padding: var(--modal-header-padding)
  border-bottom: var(--modal-header-border-width) solid var(--modal-header-border-color)
  border-top-radius: var(--modal-inner-border-radius)

  .btn-close
    padding: calc(var(--modal-header-padding-y) * .5) calc(var(--modal-header-padding-x) * .5)
    // Split properties to avoid invalid calc() function if value is 0
    margin-top: calc(-.5 * var(--modal-header-padding-y))
    margin-right: calc(-.5 * var(--modal-header-padding-x))
    margin-bottom: calc(-.5 * var(--modal-header-padding-y))
    margin-left: auto

// Title text within header
.modal-title
  font-size: $font-size-base
  color: $color-text
  font-weight: 500
  margin: 0
  line-height: var(--modal-title-line-height)

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body
  position: relative
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when there should be a fixed height on `.modal-dialog`.
  flex: 1 1 auto
  padding: var(--modal-padding)

// Footer (for actions)
.modal-footer
  display: flex
  flex-shrink: 0
  flex-wrap: wrap
  align-items: center
  // vertically center
  justify-content: flex-end
  // Right align buttons with flex property because text-align doesn't work on flex items
  padding: calc(var(--modal-padding) - var(--modal-footer-gap) * .5)
  background-color: var(--modal-footer-bg)
  border-top: var(--modal-footer-border-width) solid var(--modal-footer-border-color)
  border-bottom-radius: var(--modal-inner-border-radius)

  // Place margin between footer elements
  // This solution is far from ideal because of the universal selector usage,
  // but is needed to fix https://github.com/twbs/bootstrap/issues/24800
  > *
    margin: calc(var(--modal-footer-gap) * .5)
// Todo in v6: replace with gap on parent class

// Scale up the modal
+media-breakpoint-up(sm)
  .modal
    --modal-margin: #{$modal-dialog-margin-y-sm-up}
    --modal-box-shadow: #{$modal-content-box-shadow-sm-up}

  // Automatically set modal's width for larger viewports
  .modal-dialog
    max-width: var(--modal-width)
    margin-right: auto
    margin-left: auto

  .modal-sm
    --modal-width: #{$modal-sm}


+media-breakpoint-up(lg)
  .modal-lg,
  .modal-xl
    --modal-width: #{$modal-lg}


+media-breakpoint-up(xl)
  .modal-xl
    --modal-width: #{$modal-xl}

// scss-docs-start modal-fullscreen-loop
@each $breakpoint in map-keys($grid-breakpoints)
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints)
  $postfix: if($infix != "", $infix + "-down", "")

  +media-breakpoint-down($breakpoint)
    .modal-fullscreen#{$postfix}
      width: 100vw
      max-width: none
      height: 100%
      margin: 0

      .modal-content
        height: 100%
        border: 0
        border-radius: 0

      .modal-header,
      .modal-footer
        border-radius: 0

      .modal-body
        overflow-y: auto
// scss-docs-end modal-fullscreen-loop
