// 'Inria Sans' Free font from Google:
//@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,400&display=swap')
// $font-inria: 'Inria Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
// $font-base: $font-inria
// $font-heading: $font-inria

$font-halyard: halyard-display, sans-serif
$font-source-sans: source-sans-pro, sans-serif
$font-base: $font-source-sans
$font-heading: $font-halyard
