// 'Inria Sans' Free font from Google:
//@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,400&display=swap')
// $font-inria: 'Inria Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
// $font-base: $font-inria
// $font-heading: $font-inria

$font-halyard: halyard-display, sans-serif
$font-source-sans: source-sans-3, sans-serif
$font-base: $font-source-sans
$font-heading: $font-halyard
$font-mono: fira-code, monospace

$font-size-base: 1rem
$font-size-sm: .875rem
$font-size-xs: .75rem
$font-size-xxs: .625rem
$font-size-lg: 1.25rem

.font-mono
  font-family: $font-mono

.font-base
  font-size: $font-size-base

.font-lg
  font-size: $font-size-lg

.font-sm
  font-size: $font-size-sm

.font-xs
  font-size: $font-size-xs

.ls-01
  letter-spacing: .1em

.ls-02
  letter-spacing: .2em

.text-uppercase
  text-transform: uppercase


.text-color-default, .text-default
  color: $color-text

.text-color-lighter, .text-lighter
  color: $color-text-lighter

.text-color-primary, .text-primary
  color: $color-primary

.text-color-secondary, .text-secondary
  color: $color-secondary

.text-color-success, .text-success
  color: $color-success

.text-color-warning, .text-warning
  color: $color-warning

.text-color-danger, .text-danger
  color: $color-danger

.text-color-dark, .text-dark
  color: $color-dark

.text-color-light, .text-light
  color: $color-light-text

.fw-bold, .fw-700
  font-weight: 700

.fw-normal, .fw-400
  font-weight: 400

.fw-medium, .fw-500
  font-weight: 500
