// Sidebar
$sidebar-width: 268px
$sidebar-color: $white
$sidebar-bg: theme-color("primary")
$sidebar-gradient: linear-gradient(0deg, #026c7c 1%, $sidebar-bg 100%)

// Sidebar nav items
$sidebar-nav-title-color: $gray-200
$sidebar-nav-link-padding-y: 0.75rem
$sidebar-nav-link-padding-x: 1rem
$sidebar-nav-link-hover-color: $white
$sidebar-nav-dropdown-color: $white
$sidebar-nav-dropdown-bg: none

// Sidebar Logo
$sidebar-logo-height:  21px

// Custom (non-bootstrap) font size
$font-size-xs: .75rem
