///
///    ========================================================================
///    FONTS SECTION
///    ========================================================================
///
$font-base: $font-family-sans-serif
$font-heading: $font-base
$font-btn: $font-base
$font-size-base: 9px

///
///    ========================================================================
///    COLORS SECTION
///    ========================================================================
///
$cl-text: black
$cl-text-heading: black
$cl-dark-bg: gainsboro
$cl-separator: lightgray
$cl-table-stripe-bg: rgba(1, 10, 12, 0.05)
$cl-badge-bg: dimgray
$cl-badge-text: white
$cl-control-bg: gainsboro
